DataAndEventGenerator = RansomwareSymptomGenerator

InterarrivalProcess       = ConstantInterarrivals
InterarrivalProcessConfig = ConstantInterarrivals.cnf

SymptomGenerator       = RansomwareSymptomInjector
SymptomGeneratorConfig = RansomwareSymptomInjector.cnf

