OperationalPhasesProcess = MarkovModulatedBehaviour
OperationalPhasesProcessConfig = OperationalPhases.cnf

configPathPrefix = pick-address/
classPathPrefix = org.hpe.labs.AmselRelease.

runLength = 300

globalDryRun = false