######## State 1 (Configure) ########

TrafficGenerator          = HttpTrafficGenerator
TrafficGeneratorConfig    = empty

InterarrivalProcess       = PoissonProcess
InterarrivalProcessConfig = State1.PoissonInterarrivals.cnf

PacketSizeProcess         = UniformRandomPacketSize
PacketSizeProcessConfig   = State1.PacketSizes.cnf

AddressProcess            = PickAddress
AddressProcessConfig      = State1.PickAddress.cnf

TypeProcess               = DirectionTypeProcess
TypeProcessConfig         = State1.DirectionType.cnf
